<!html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja</title>
</head>
<body>

<nav>
    <div class="site-title">
        <a href="/"><h1>404 page</h1></a>
        <p>OOPSS an error</p>

</body>
</html>